@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@700&display=swap");

@import "tailwindcss";
@plugin "@tailwindcss/typography";

@import "./theme.css";

@layer utilities {
	.font-space-grotesk {
		font-family: "Space Grotesk", sans-serif;
		font-optical-sizing: auto;
		font-weight: 700;
		font-style: normal;
	}

	.font-inter {
		font-family: "Inter", sans-serif;
		font-optical-sizing: auto;
		font-weight: <weight>;
		font-style: normal;
	}

	body {
		font-family: "Inter", sans-serif;
	}
}
