---
import "../styles/global.css";

const { frontmatter } = Astro.props;

const currentPath = Astro.url.pathname;

const menuItems = [
	{
		href: "/",
		title: "home",
	},
	{
		href: "/blog",
		title: "blog",
	},
];
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{frontmatter.title}</title>
	</head>
	<body class="text-slate-600">
		<header class="mx-auto max-w-4xl px-6 py-12">
			<nav class="flex gap-2">
				{
					menuItems.map((item) => (
						<a href={item.href} class="hover:text-primary underline">
							{item.title}
						</a>
					))
				}
			</nav>
		</header>
		<main class="mx-auto max-w-4xl px-6 pb-8">
			<slot />
		</main>
	</body>
</html>
