---
import { Image } from "astro:assets";

import BaseLayout from "./BaseLayout.astro";

const { title, heroImage, updatedDate } = Astro.props;
const formattedDate = updatedDate.toLocaleDateString("en-AU", {
	day: "numeric",
	month: "long",
	year: "numeric",
});
---

<BaseLayout frontmatter={{ title }}>
	<article class="prose prose-slate mt-6 max-w-none">
		<h1 class="text-primary font-space-grotesk mt-8">{title}</h1>
		<p class="text-small mb-12 uppercase">{formattedDate}</p>
		<slot />
	</article>
</BaseLayout>
